<div class="container">
  <div class="row">
<div class="container">
  <div class='row text-center'>
    <%= form_for [@recipe, @recipe_ingredient] do |f| %>
      <h1><%= f.label :ingerdient_id, 'Choose Ingredient' %></h1>
      <%= f.collection_select :ingredient_id, Ingredient.order(:name), :id, :form_text, include_blank: true %><br>

      <h1><%= f.label :quantity %></h1>
      <%= f.text_field :quantity %><br>

      <h1><%= f.label :prep_method %></h1>
      <%= f.text_field :prep_method %><br>

      <%= f.submit 'Add This Ingredient', class: 'btn btn-lg btn-primary recipe' %>
    <% end %>

    <%= link_to 'DONE ADDING INGREDIENTS', new_recipe_recipe_step_path(@recipe), class: 'btn btn-lg btn-warning recipe' %>

  </div>

  <hr>

  <div class="row">
    <% @recipe.recipe_ingredients.each do |ri| %>
      <div class="col-xs-6 col-sm-3">
        <div class="panel text-center">
          <h2><%= ri.ingredient.name %></h2>
          <h4><%= ri.quantity %> <%= ri.ingredient.quantity_type %></h4>
          <h4><%= ri.prep_method %></h4>
        </div>
      </div>
    <% end %>
  </div>
</div>

