<div class="container">
  <div class="row text-center">
    <%= form_for [@recipe, @recipe_step] do |f| %>
      <h1><%= f.label :body , 'Explain This Step' %></h1>
      <%= f.text_area :body, class: 'big-text-field' %><br>

      <%= f.submit 'Add This Step' , class: 'btn btn-lg btn-primary recipe' %>
    <% end %>

    <%= link_to 'ALL DONE', @recipe, class: 'btn btn-lg btn-default' %>
  </div>

  <hr>

  <% @recipe.recipe_steps.each do |rs| %>
    <div class="row">
      <div class="col-xs-1">
        <h1><%= rs.step_number %>.</h1>
      </div>
      <div class="col-xs-11">
        <div class="panel recipe-step">
          <h4><%= rs.body %></h4>
        </div>
      </div>
    </div>
  <% end %>
</div>
