<div class="container">
  <div class="row text-center">
    <%= form_for @recipe do |f| %>
      <h1><%= f.label :name %></h1>
      <%= f.text_field :name %><br>

      <h1><%= f.label :description %></h1>
      <%= f.text_area :description , class: 'big-text-field' %><br>

      <%= f.submit 'Choose Ingredients', class: 'btn btn-lg btn-primary recipe' %>
    <% end %>
  </div>
</div>
