<div class='container'>
  <div class='row'>
    <div class='col-md-12'>
      <h1><%= @recipe.name %></h1>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-3'>
      <div class='panel'>
        <ul>
        <% @recipe.recipe_ingredients.each do |ri| %>
          <li><h3><%= ri.ingredient.name %><h3><h4><%= ri.quantity %> <%= ri.ingredient.quantity_type %> <%= ri.prep_method %></h4></li>
        <% end %>
      </div>
      <div class="text-center">
        <% if @recipe.user == current_user %>
          <%= link_to 'EDIT RECIPE', edit_recipe_path(@recipe), class: 'btn btn-lg btn-default' %>
        <% end %>
      </div>
    </div>

    <div class='col-md-9'>
      <% @recipe.recipe_steps.each do |rs| %>
        <div class="col-md-1"><h1><%= rs.step_number %></h1></div>
        <div class='col-md-11 panel recipe-step'>
          <h4><%= rs.body %></h4>
        </div>
      <% end %>
    </div>
  </div>
</div>
