<div class="container">
  <div class="row">
    <div class="col-md-4 text-center">
      <img class="img-circle img-responsive center-block profile-pic" src="<%= current_user.image_url %>"><br>
      <%= link_to 'My Pantry', pantry_path , class: 'btn btn-lg btn-default', id: 'pantry-link' %>
    </div>
    <div class="col-md-8">
      <h1 class="text-center">This Week's Menu</h1>
      <% @days.each do |day| %>
        <div class="panel calander-day">
          <div class="col-md-2 col-xs-3 text-center">
            <h3><%= day.strftime("%^a") %></h3>
            <h4><%= day.strftime("%d") %><h4>
          </div>
          <div class="col-md-10">
            <% current_user.menu.recipes_for_date(day).each do |recipe| %> 
              <a href="<%= recipe_path(recipe) %>" class="btn btn-lg btn-info recipe"><%= recipe.name %></a>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
