<div class="container">
  <div class="row">
    <div class="col-md-4 text-center">
      <img class="img-circle img-responsive center-block profile-pic" src="<%= current_user.image_url %>"><br>
      <div class="btn-group-vertical" role="group">
        <%= link_to 'My Pantry', pantry_path , class: 'btn btn-lg btn-default', id: 'pantry-link' %>
        <%= link_to 'Add Meals To Your Menu', recipes_path , class: 'btn btn-lg btn-default', id: 'pantry-link' %>
        <%= link_to 'Create A Recipe', new_recipe_path , class: 'btn btn-lg btn-default', id: 'pantry-link' %>
      </div>
      <hr>
      <div class="panel">
        <h3>Recipes You Can Make Now</h3>
        <% current_user.ready_sample.each do |recipe| %>
          <div class='row'>
          <%= link_to recipe.name, recipe, class: 'btn btn-lg btn-info recipe' %>
          </div>
        <% end %>       
      </div>
    </div>
    <div class="col-md-8">
      <h1 class="text-center">This Week's Menu</h1>
      <% @days.each do |day| %>
        <div class="panel calander-day">
          <div class="col-md-2 col-xs-3 text-center">
            <h3><%= day.strftime("%^a") %></h3>
            <h4><%= day.strftime("%d") %><h4>
          </div>
          <div class="col-md-10">
            <% current_user.menu.menu_recipes_for_date(day).each do |menu_recipe| %> 
              <div class="btn-group-vertical recipe" role="group">
                <%= link_to menu_recipe.recipe.name, menu_recipe.recipe, class: 'btn btn-lg btn-info' %>
                <%= link_to 'remove', recipe_menu_recipe_path(menu_recipe.recipe, menu_recipe), method: :delete , class: 'btn btn-sm btn-warning'%>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
