<div class='container'>
  <div class='row'>
    <div class='col-md-12'>
      <h1>My Pantry</h1>
    </div>
  </div>
  <hr>

  <div class='row'>
    <div class='text-align-center col-xs-12'>
    <%= form_for @pantry_ingredient do |f| %>
      <%= f.label :ingredient_id, 'Ingredient To Add' %>
      <%= f.collection_select :ingredient_id, Ingredient.order(:name), :id, :form_text, include_blank: true %>

      <%= f.label :quantity %>
      <%= f.text_field :quantity %>

      <%= f.submit 'Add To Pantry' %>
    <% end %>
    </div>
  </div>
  <hr>

  <div class='row'>
    <div class='col-md-12'>
      <% current_user.pantry.pantry_ingredients.each do |pi| %>
        <div class='col-xs-4 col-sm-2'>
          <div class='pantry-ingerdient panel text-center'>
            <h3><%= pi.ingredient.name %></h3>
            <h4><%= pi.quantity %> <%= pi.ingredient.quantity_type %></h4>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
